{% load static %}

{% for product in deals %}
<div class="ps-product ps-product--inner">
    <div class="ps-product__thumbnail">
        <a href="{{ product.get_absolute_url }}">
            <img class="lazy-image" 
                 data-src="{{ product.images.first.image.url }}" 
                 src="{% static 'img/placeholder.webp' %}"
                 alt="{{ product.name }}">
        </a>
        {% if product.discount_price %}
        <div class="ps-product__badge">-{{ product.get_discount_percentage }}%</div>
        {% endif %}
    </div>
    
    <div class="ps-product__container">
        {% if product.discount_price %}
        <p class="ps-product__price sale">
            {{ currency_symbol }} {{ product.discount_price }} 
            <del>{{ currency_symbol }} {{ product.price }}</del>
            <br>
            <small>{{ product.get_discount_percentage }}% off</small>
        </p>
        {% else %}
        <p class="ps-product__price">{{ currency_symbol }} {{ product.price }}</p>
        {% endif %}
        <div class="ps-product__content">
            <a class="ps-product__title" href="{{ product.get_absolute_url }}">
                {{ product.name }}
            </a>
        </div>
    </div>
</div>
{% endfor %}