{% load static %}

<footer class="ps-footer">
    <div class="ps-container">
        <div class="ps-footer__widgets">
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title">Contact us</h4>
                <div class="widget_content">
                    <p>Call us 24/7</p>
                    <h3>+8809610978034</h3>
                    <p>Sector 7, Uttara, Dhaka-1230, Bangladesh <br><a href="mailto:contact@GenialTouch.com">genialtouchltd@gmail.com</a></p>
                    <ul class="ps-list--social">
                        <li><a class="facebook" href="https://www.facebook.com/share/1QiDQvX9E6/" target="_blank"><i class="fa fa-facebook" style="font-size: 36px;"></i></a></li>
                        <li><a class="twitter" href="https://www.tiktok.com/@genial.touch?_r=1&_t=ZS-940L0Bvij8X" target="_blank"><i class="fa fa-twitter3"></i> <img src="{% static 'tiktok-brands-solid-full.svg' %}" style="width: 38px;"></a></li>
                        <li><a class="google-plus" href="https://www.youtube.com/@GenialTouch" target="_blank"><i class="fa fa-youtube" style="font-size: 36px;"></i></a></li>
                        <!-- <li><a class="" href="https://www.tiktok.com/@genial.touch?_r=1&_t=ZS-940L0Bvij8X"><img src="{% static 'tiktok-brands-solid-full.svg' %}"></a></li> -->
                        <li><a class="instagram" href="https://www.instagram.com/genial_touch?igsh=MW5saGZrYTBzamM0ZA==" target="_blank" ><i class="fa fa-instagram" style="font-size: 36px;"></i></a></li>
                    </ul>
                    
                </div>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Quick links</h4>
                <ul class="ps-list--link">
                    <li><a href="{% url 'terms_and_conditions' %}">Terms and Conditions</a></li>
                    <li><a href="{% url 'return_and_refund_policy' %}">Return & Refund Policy</a></li>
                    <li><a href="{% url 'Replacement_Policy' %}">Replacement Policy</a></li>
                    <li><a href="">FAQs</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Company</h4>
                <ul class="ps-list--link">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Affilate</a></li>
                    <li><a href="">Career</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </aside>
            <aside class="widget widget_footer">
                <h4 class="widget-title">Business</h4>
                <ul class="ps-list--link">
                    <li><a href="">Our Press</a></li>
                    <li><a href="">Checkout</a></li>
                    <li><a href="">My account</a></li>
                    <li><a href="">Shop</a></li>
                </ul>
            </aside>
        </div>
        <div class="ps-footer__links">
            {% for category in categories|slice:":6" %}
            <p><strong>{{ category.name }}:</strong>
                {% for child in category.children.all|slice:":5" %}
                <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                {% endfor %}
            </p>
            {% endfor %}
        </div>
        <div class="ps-footer__copyright">
            <p>&copy; {% now "Y" %} GenialTouch. All Rights Reserved</p>
            <p>
                <span>We Using Safe Payment For:</span>
                <a href="#"><img src="{% static 'bkashlogo.webp' %}" alt="" style="width: 78px;"  /></a>
                <a href="#"><img src="{% static 'nagadlogo.png' %}" alt=""  style="width: 78px;" /></a>
                <a href="#"><img src="{% static 'visalogo.jpg' %}" alt="" style="width: 54px;" /></a>
                <a href="#"><img src="{% static 'rocket.webp' %}" alt="" style="width: 54px;" /></a>
                <a href="#"><img src="{% static 'nexus.webp' %}" alt=""  style="width: 78px;"/></a>
            </p>
        </div>
    </div>
</footer>