{% load static %}
<header class="header header--1" data-sticky="true">
    <div class="header__top" style="background-color: #420707;">
        <div class="ps-container">
            <div class="header__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Department</span></div>
                    <div class="menu__content">
                        <ul class="menu--dropdown">
                            {% for category in categories %}
                                {% if not category.parent %}
                                    <li class="{% if category.children.all %}menu-item-has-children has-mega-menu{% endif %}">
                                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                        {% if category.children.all %}
                                            <span class="sub-toggle"></span>
                                            <div class="mega-menu">
                                                <div class="mega-menu__column">
                                                    <h4>{{ category.name }}<span class="sub-toggle"></span></h4>
                                                    <ul class="mega-menu__list">
                                                        {% for child in category.children.all %}
                                                            <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <a class="ps-logo" href="{% url 'home' %}">
                    <img src="{% static 'png transparent-01.png' %}" alt="" style="width: 74%; margin-top: -8px;"/>
                </a>
            </div>

            <div class="header__center">
                <form class="ps-form--quick-search" action="{% url 'product_list' %}" method="get" id="search-form">
                    <div class="form-group--icon">
                        <i class="icon-chevron-down"></i>
                        <select class="form-control" name="category" id="search-category">
                            <option value="" selected="selected">All</option>
                            {% for category in categories %}
                                {% if not category.parent %}
                                    <option value="{{ category.slug }}">{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="search-wrapper" style="position: relative; flex: 1;">
                        <input class="form-control" type="text" name="q" placeholder="I'm shopping for..." 
                               id="search-input" autocomplete="off" />
                        <div id="search-suggestions" class="search-suggestions-dropdown" style="display: none;">
                            <div class="suggestions-loader" style="display: none;">
                                <div class="spinner"></div>
                            </div>
                            <div class="suggestions-content"></div>
                        </div>
                    </div>
                    <button type="submit">Search</button>
                </form>
            </div>

            <div class="header__right">
                <div class="header__actions" style="color: #ffffff;">
                    {% comment %}
                    <a class="header__extra" href="#">
                        <i class="icon-chart-bars"></i>
                        <span><i>{{ compare_count|default:0 }}</i></span>
                    </a>
                    {% endcomment %}
                    <a class="header__extra" href="">
                        <i class="icon-heart"></i>
                        <span><i>{{ wishlist_count|default:0 }}</i></span>
                    </a>
                    <div class="ps-cart--mini">
                        <a class="header__extra" href="{% url 'cart_detail' %}">
                            <i class="icon-bag2"></i>
                            <span><i>{{ cart_item_count|default:0 }}</i></span>
                        </a>
                        <div class="ps-cart__content">
                            <div class="ps-cart__items">
                                {% for item in cart_items %}
                                    <div class="ps-product--cart-mobile" id="cart-item-{{ item.cart_key }}">
                                        <div class="ps-product__thumbnail">
                                            <a href="{{ item.product.get_absolute_url }}">
                                                <img src="{{ item.product.images.first.image.url }}" alt="" />
                                            </a>
                                        </div>
                                        <div class="ps-product__content">
                                            <a class="ps-product__remove remove-from-cart" 
                                            href="{% url 'remove_from_cart' item.cart_key %}" 
                                            data-cart-key="{{ item.cart_key }}">
                                                <i class="icon-cross"></i>
                                            </a>
                                            <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
                                            {% if item.variation %}
                                                <div class="variant-info">
                                                    {% for attr_name, attr_value in item.attributes.items %}
                                                        <small>{{ attr_name|title }}: {{ attr_value }}</small><br>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            <p><strong>Sold by:</strong> {{ item.product.brand.name }}</p>
                                            <small>{{ item.quantity }} x {{ currency_symbol }} {{ item.price }}</small>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="ps-cart__footer">
                                <h3>Sub Total:<strong>{{ currency_symbol }} {{ cart_total|default:"0.00" }}</strong></h3>
                                <figure>
                                    <a class="ps-btn" href="{% url 'cart_detail' %}">View Cart</a>
                                    <a class="ps-btn" href="{% url 'checkout' %}">Checkout</a>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <div class="ps-block--user-header">
                        {% if user.is_authenticated %}
                            <div class="ps-block__left">
                                <i class="icon-user"></i>
                            </div>
                            <div class="ps-block__right">
                                <a href="{% url 'profile' %}">My Account</a>
                                <a href="{% url 'logout' %}">Logout</a>
                            </div>
                        {% else %}
                            <div class="ps-block__left">
                                <i class="icon-user"></i>
                            </div>
                            <div class="ps-block__right">
                                <a href="{% url 'login' %}">Login</a>
                                <a href="{% url 'register' %}">Register</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navigation" style="background-color: #E0E0E0">
        <div class="ps-container">
            <div class="navigation__left">
                <div class="menu--product-categories">
                    <div class="menu__toggle"><i class="icon-menu"></i><span> Categories</span></div>
                    <div class="menu__content">
                        <ul class="menu--dropdown">
                            {% for category in categories %}
                                {% if not category.parent %}
                                    <li class="{% if category.children.all %}menu-item-has-children has-mega-menu{% endif %}">
                                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                                        {% if category.children.all %}
                                            <span class="sub-toggle"></span>
                                            <div class="mega-menu">
                                                <div class="mega-menu__column">
                                                    <h4>{{ category.name }}<span class="sub-toggle"></span></h4>
                                                    <ul class="mega-menu__list">
                                                        {% for child in category.children.all %}
                                                            <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navigation__right">
                <ul class="menu">
                    <li class="">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="has-mega-menu">
                        <a href="{% url 'product_list' %}">Shop</a>
                    </li>
                </ul>

                {% comment %}
                <ul class="menu">
                    <li class="menu-item-has-children">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="menu-item-has-children has-mega-menu">
                        <a href="{% url 'product_list' %}">Shop</a>
                    </li>
                    <li class="menu-item-has-children has-mega-menu">
                        <a href="#">Pages</a>
                    </li>
                    <li class="menu-item-has-children has-mega-menu">
                        <a href="#">Blogs</a>
                    </li>
                    
                </ul>
                {% endcomment %}
                <ul class="navigation__extra">
                    <li><a href="{% url 'product_list' %}">Browse Products</a></li>
                    <li><a href="{% url 'track_order' %}">Track your order</a></li>
                    {% comment %}
                    <li>
                        <div class="ps-dropdown">
                            <a href="#">US Dollar</a>
                            <ul class="ps-dropdown-menu">
                                <li><a href="#">US Dollar</a></li>
                                <li><a href="#">Euro</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="ps-dropdown language">
                            <a href="#"><img src="{% static 'img/flag/en.png' %}" alt="" />English</a>
                            <ul class="ps-dropdown-menu">
                                <li><a href="#"><img src="{% static 'img/flag/germany.png' %}" alt="" /> Germany</a></li>
                                <li><a href="#"><img src="{% static 'img/flag/fr.png' %}" alt="" /> France</a></li>
                            </ul>
                        </div>
                    </li>
                    {% endcomment %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<header class="header header--mobile" data-sticky="true">
    <div class="header__top" style="background-color: #264653;">
        <div class="header__left">
            <p>Welcome to GenialTouch Online Shopping Store !</p>
        </div>
        <div class="header__right">
            <ul class="navigation__extra">
                
                <li><a href="{% url 'track_order' %}">Track your order</a></li>
                <li>
                    <div class="ps-dropdown"><a href="#">US Dollar</a>
                        <ul class="ps-dropdown-menu">
                            <li><a href="#">US Dollar</a></li>
                            <li><a href="#">Euro</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="ps-dropdown language">
                        <a href="#"><img src="{% static 'img/flag/en.png' %}" alt="" />English</a>
                        <ul class="ps-dropdown-menu">
                            <li><a href="#"><img src="{% static 'img/flag/germany.png' %}" alt="" /> Germany</a></li>
                            <li><a href="#"><img src="{% static 'img/flag/fr.png' %}" alt="" /> France</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="navigation--mobile">
        <div class="navigation__left">
            <a class="ps-logo" href="{% url 'home' %}">
                <img src="{% static 'png transparent-01.png' %}" alt="" style="width: 64%;display: flex;"/>
                <!-- <img src="{% static 'genial_logo5.png' %}" alt="" /> -->
            </a>
        </div>
        <div class="navigation__right">
            <div class="header__actions"  style="color: #ffffff;">
                <div class="ps-cart--mini">
                    <a class="header__extra" href="{% url 'cart_detail' %}">
                        <i class="icon-bag2"></i>
                        <span><i>{{ cart_item_count|default:0 }}</i></span>
                    </a>
                    <div class="ps-cart__content">
                        <div class="ps-cart__items">
                            {% for item in cart_items %}
                                <div class="ps-product--cart-mobile" id="cart-item-{{ item.cart_key }}">
                                    <div class="ps-product__thumbnail">
                                        <a href="{{ item.product.get_absolute_url }}">
                                            <img src="{{ item.product.images.first.image.url }}" alt="" />
                                        </a>
                                    </div>
                                    <div class="ps-product__content">
                                        <a class="ps-product__remove remove-from-cart" 
                                        href="{% url 'remove_from_cart' item.cart_key %}" 
                                        data-cart-key="{{ item.cart_key }}">
                                            <i class="icon-cross"></i>
                                        </a>
                                        <a href="{{ item.product.get_absolute_url }}">{{ item.product.name }}</a>
                                        {% if item.variation %}
                                            <div class="variant-info">
                                                {% for attr_name, attr_value in item.attributes.items %}
                                                    <small>{{ attr_name|title }}: {{ attr_value }}</small><br>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <p><strong>Sold by:</strong> {{ item.product.brand.name }}</p>
                                        <small>{{ item.quantity }} x {{ currency_symbol }} {{ item.price }}</small>
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                        <div class="ps-cart__footer">
                            <h3>Sub Total:<strong>{{ currency_symbol }} {{ cart_total|default:"0.00" }}</strong></h3>
                            <figure>
                                <a class="ps-btn" href="{% url 'cart_detail' %}">View Cart</a>
                                <a class="ps-btn" href="{% url 'checkout' %}">Checkout</a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="ps-block--user-header">
                    {% if user.is_authenticated %}
                        <div class="ps-block__left">
                            <a href="{% url 'profile' %}"><i class="icon-user"></i></a>
                        </div>
                        <div class="ps-block__right">
                            <a href="{% url 'profile' %}">My Account</a>
                            <a href="{% url 'logout' %}">Logout</a>
                        </div>
                    {% else %}
                        <div class="ps-block__left">
                            <a href="{% url 'login' %}"><i class="icon-user"></i></a>
                        </div>
                        <div class="ps-block__right">
                            <a href="{% url 'login' %}">Login</a>
                            <a href="{% url 'register' %}">Register</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="ps-search--mobile">
        <form class="ps-form--search-mobile" action="{% url 'product_list' %}" method="get">
            <div class="form-group--nest">
                <input class="form-control" type="text" name="q" placeholder="Search something..." />
                <button type="submit"><i class="icon-magnifier"></i></button>
            </div>
        </form>
    </div>
</header>

<style>
/* Search Suggestions Dropdown */
.search-wrapper {
    position: relative;
    flex: 1;
}

#search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 9999;
    max-height: 400px;
    overflow-y: auto;
}

.suggestions-loader {
    padding: 15px;
    text-align: center;
}

.suggestions-loader .spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #420707;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.suggestion-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.2s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.suggestion-item:hover {
    background-color: #f9f9f9;
}

.suggestion-item:last-child {
    border-bottom: none;
}

.suggestion-image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    flex-shrink: 0;
}

.suggestion-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.suggestion-info {
    flex: 1;
    min-width: 0;
}

.suggestion-name {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggestion-brand {
    font-size: 12px;
    color: #999;
    margin-bottom: 4px;
}

.suggestion-price {
    font-size: 14px;
    font-weight: 600;
    color: #420707;
}

.suggestion-price .original-price {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    text-decoration: line-through;
    margin-left: 8px;
}

.no-results {
    padding: 20px;
    text-align: center;
    color: #999;
    font-size: 14px;
}

.no-results i {
    font-size: 40px;
    color: #ddd;
    margin-bottom: 10px;
    display: block;
}

.view-all-link {
    display: block;
    padding: 10px 15px;
    text-align: center;
    background-color: #f5f5f5;
    color: #420707;
    font-weight: 500;
    text-decoration: none;
    border-top: 1px solid #e1e1e1;
}

.view-all-link:hover {
    background-color: #eee;
}

.suggestion-name mark {
    background-color: #fff3cd;
    padding: 0;
    color: #333;
}

@media (max-width: 768px) {
    #search-suggestions {
        position: fixed;
        top: auto;
        left: 10px;
        right: 10px;
        max-height: 300px;
    }
}
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    console.log('DOM loaded - search suggestions initializing');
    
    const searchInput = document.getElementById('search-input');
    const suggestionsDropdown = document.getElementById('search-suggestions');
    const suggestionsContent = document.querySelector('.suggestions-content');
    const loader = document.querySelector('.suggestions-loader');
    const searchForm = document.getElementById('search-form');
    
    // Log to check if elements are found
    console.log('Search input found:', searchInput);
    console.log('Suggestions dropdown found:', suggestionsDropdown);
    console.log('Suggestions content found:', suggestionsContent);
    console.log('Loader found:', loader);
    
    if (!searchInput || !suggestionsDropdown || !suggestionsContent || !loader) {
        console.error('Required elements not found!');
        return;
    }
    
    let searchTimeout;
    let currentRequest = null;
    
    // Input event listener
    searchInput.addEventListener('input', function(e) {
        const query = this.value.trim();
        console.log('Input changed:', query);
        
        if (query.length < 2) {
            suggestionsDropdown.style.display = 'none';
            console.log('Query too short, hiding dropdown');
            return;
        }
        
        // Clear previous timeout
        if (searchTimeout) {
            clearTimeout(searchTimeout);
        }
        
        // Set new timeout
        searchTimeout = setTimeout(function() {
            console.log('Fetching suggestions for:', query);
            fetchSuggestions(query);
        }, 300);
    });
    
    // Focus event
    searchInput.addEventListener('focus', function() {
        const query = this.value.trim();
        console.log('Input focused, query:', query);
        
        if (query.length >= 2) {
            suggestionsDropdown.style.display = 'block';
            console.log('Showing dropdown on focus');
        }
    });
    
    // Click outside to close
    document.addEventListener('click', function(e) {
        if (!searchInput.contains(e.target) && !suggestionsDropdown.contains(e.target)) {
            suggestionsDropdown.style.display = 'none';
            console.log('Clicked outside, hiding dropdown');
        }
    });
    
    // Prevent form submission when clicking suggestions
    if (searchForm) {
        searchForm.addEventListener('submit', function(e) {
            // Allow normal submission
            console.log('Form submitting');
        });
    }
    
    // Fetch suggestions function
    function fetchSuggestions(query) {
        console.log('fetchSuggestions called with:', query);
        
        // Cancel previous request
        if (currentRequest) {
            console.log('Aborting previous request');
            currentRequest.abort();
        }
        
        // Show loader
        loader.style.display = 'block';
        suggestionsContent.innerHTML = '';
        suggestionsDropdown.style.display = 'block';
        
        // Get category
        const categorySelect = document.getElementById('search-category');
        const category = categorySelect ? categorySelect.value : '';
        
        // Build URL
        let url = `/search/suggestions/?q=${encodeURIComponent(query)}`;
        if (category) {
            url += `&category=${encodeURIComponent(category)}`;
        }
        
        console.log('Fetching URL:', url);
        
        // Create request
        currentRequest = new XMLHttpRequest();
        currentRequest.open('GET', url, true);
        currentRequest.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        
        currentRequest.onload = function() {
            console.log('Request completed, status:', this.status);
            loader.style.display = 'none';
            
            if (this.status === 200) {
                try {
                    const data = JSON.parse(this.responseText);
                    console.log('Received data:', data);
                    displaySuggestions(data);
                } catch (e) {
                    console.error('Error parsing response:', e);
                    showError();
                }
            } else {
                console.error('Request failed with status:', this.status);
                showError();
            }
            
            currentRequest = null;
        };
        
        currentRequest.onerror = function() {
            console.error('Request error');
            loader.style.display = 'none';
            showError();
            currentRequest = null;
        };
        
        currentRequest.send();
    }
    
    // Display suggestions
    function displaySuggestions(data) {
        const products = data.products || [];
        const query = data.query || '';
        
        console.log('Displaying', products.length, 'products');
        
        if (products.length === 0) {
            suggestionsContent.innerHTML = `
                <div class="no-results">
                    <i class="icon-magnifier"></i>
                    <p>No products found for "<strong>${escapeHtml(query)}</strong>"</p>
                </div>
                <a href="${searchForm.action}?q=${encodeURIComponent(query)}" class="view-all-link">
                    View all search results
                </a>
            `;
            return;
        }
        
        let html = '';
        products.forEach(product => {
            const highlightedName = highlightMatch(product.name, query);
            
            html += `
                <a href="${product.url}" class="suggestion-item" onclick="event.stopPropagation()">
                    <div class="suggestion-image">
                        <img src="${product.image}" alt="${escapeHtml(product.name)}" 
                             onerror="this.src='/static/img/no-image.jpg'">
                    </div>
                    <div class="suggestion-info">
                        <div class="suggestion-name">${highlightedName}</div>
                        ${product.brand ? `<div class="suggestion-brand">${escapeHtml(product.brand)}</div>` : ''}
                        <div class="suggestion-price">
                            ${product.original_price ? `
                                ৳ ${product.price}
                                <span class="original-price">৳ ${product.original_price}</span>
                            ` : `৳ ${product.price}`}
                        </div>
                    </div>
                </a>
            `;
        });
        
        html += `
            <a href="${searchForm.action}?q=${encodeURIComponent(query)}" class="view-all-link">
                See all ${data.count} results for "${escapeHtml(query)}"
            </a>
        `;
        
        suggestionsContent.innerHTML = html;
    }
    
    // Helper functions
    function highlightMatch(text, query) {
        if (!query) return escapeHtml(text);
        
        try {
            const regex = new RegExp(`(${escapeRegExp(query)})`, 'gi');
            return escapeHtml(text).replace(regex, '<mark>$1</mark>');
        } catch (e) {
            return escapeHtml(text);
        }
    }
    
    function escapeHtml(text) {
        if (!text) return '';
        const div = document.createElement('div');
        div.textContent = text;
        return div.innerHTML;
    }
    
    function escapeRegExp(string) {
        return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&');
    }
    
    function showError() {
        suggestionsContent.innerHTML = `
            <div class="no-results">
                <i class="icon-warning"></i>
                <p>Something went wrong. Please try again.</p>
            </div>
        `;
    }
});
</script>